@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-100;
  }

  body {
    @apply m-0 min-h-screen bg-slate-100 font-sans text-slate-900 antialiased;
  }

  button {
    @apply font-sans;
  }
}
