.cluade
.codex
.specify
browser-extension-bak
sessions
serverless/node_modules
serverless/cdk.out
serverless/dist
.idea
serverless/secret-config
leetstack-landing/node_modules
website/node_modules
website/dist/
.DS_Store
configs/*
!configs/loadProjectEnv.mjs
!configs/loadProjectEnv.d.mts
**/.claude-trace/*